/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}
.container {
    max-width: 1200px;
}
.title__h6 {
    color: #ff6600;
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    display: block;
}
.title__h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}

header {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: initial;
    background-attachment: fixed;
}
.header__title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    gap: -30px;
}
.header__logo a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}
.header__input {
    display: flex;
    justify-content: right;
    gap: 30px;
}
.header__input i {
    margin: 0 0px;
    color: white;
}
.header__input input {
    padding: 20px 30px;
}
.header__input .form-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-group .search__icon i {
    font-size: 15px;
    cursor: pointer;
    color: gray;
}
.form-group i {
    margin-left: -30px;
    text-align: center;
}
.header__night, .header__button {
    font-size: 24px;
    align-items: center;
}
.header__night i {
    border: none;
    background: none;
}
.header__button button {
    background: none;
    border: none;
    font-size: 26px;
}
.overlay__scale {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
}
.header__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
}
.header__overlay button {
    width: 46px;
    height: 46px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.header__overlay li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 500;
    margin: 20px 0;
}
.header__overlay a {
    color: white;
}
.header__banner {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
    padding-bottom: 100px;
}
.header__banner h3 {
    font-size: 60px;
    color: white;
    font-weight: 600;
}
.header__banner p {
    padding: 30px 0;
    color: white;
}
.header__banner a {
    color: white;
    padding: 18px 46px;
    border: 2px solid white;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}
.header__banner a:hover {
    background: white;
    color: #ff6600;
}
.header__banner i {
    margin-left: 8px;
}
/* light theme */
#myBody, #headerinput {
    background: white;
}
#switchButton {
    background-color: white;
    background: none;
}
#switchButton .fa-sun {
    display: none;
}
#switchButton .fa-moon {
    display: block;
}
/* Dark Theme*/
.dark#myBody, .dark#headerinput {
    background:black;
}
.dark #switchButton {
    background-color: black;
    background: none;
}
.dark #switchButton .fa-sun {
    display: block;
    color: white;
}
.dark #switchButton .fa-moon {
    display: none;
}
.dark .find {
    background-color: black;
    color: white;  
}
/* end header */
/* star content*/
.content__title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    gap: 50px;
}
.title__con_right p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
    color: gray;
}
/* end content */
/* star content__NOTE2 */
.note2__list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;    
    margin-top: 100px;
    background: #ff6600;
}
.note2__listleft::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.note2__listleft {
    position: relative;
}
.note2__listleft img {
    width: 100%;
    height: 100%;
}
.listright__content {
    padding: 70px;
}
.listright__content .title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    display: block;
    font-family: 'Pacifico', cursive;
}
.listright__content h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin: 5px 0px 25px 0;
}
.listright__content p {
    color: #ffdfc9;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
.listright__cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 3;
    margin-top: 30px;
}
.cont__icon {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    background: white;
    text-align: center;
    line-height: 70px;
}
.cont__icon i {
    font-size: 24px;
    color: #ff6600;
    transition: all 0.3s;
}
.cont__icon:hover i {
    color: #ffc600;
}
.listright__cont__1 a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: 700;
}
/* end content__note2 */

/* star CATEGORIES */
.categotries {
    background: rgba(128, 128, 128, 0.1);
}
.categories__content {
    padding: 100px 0px 50px 0;
}
.categories__list {
    display: flex;
    flex-wrap: wrap;
}
.categories__item {
   max-width: 33.333%;
   margin-bottom: -60px;
}
.item__container {
    padding: 15px;
}
.cate__item__img img {
    width: 100%;
    border-radius: 8px;
    transition: all 0.5s;
}
.cate__item__img img:hover {
    opacity: 0.85;
  }
.cate__item__text {
    position: relative;
    top: -100px; 
    left: 50px;
}
.cate__item__text a {
    text-decoration: none;
}
.cate__item__text h4 {
    color: white;
    font-weight: 700;
}
.cate__item__text h6 {
    color: #ffc600;
    font-size: 18px;
    font-weight: 600;
}
/* end CATEGORIES */

/* CATEGORIES */

/* FEATURES */
#features .box-wrap {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: white;
    position: relative;
    border: 1px solid #eee;
}

#features .box-wrap p {
    margin: 0;
}

#features .box-wrap h4 a {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: var(--heading-color);
}

#features .box-wrap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

#features .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: var(--bg-light);
    line-height: 70px;
    border-radius: 6px;
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
    transition: 0.3s ease-in-out;
}

#features .icon:hover {
    color: white;
    background-color: #ff6600;
}
/* end features */



/* CONTACT */

/* STATICS */

/* BLOG */

/* TESTIMONIALS */

/* FOOTER */